//
// Created by happycactus on 01/02/22.
//

#ifndef TEMPAIRQSENSOR_WIFICONFIG_H
#define TEMPAIRQSENSOR_WIFICONFIG_H

char ssid[] = "";             // your network SSID (name)
char pass[] = "";         // your network password

#endif //TEMPAIRQSENSOR_WIFICONFIG_H
